# editors
.vscode
.cache
*.swp
*~
.editorconfig
.clang-format
.clang-tidy

# python
.venv

# build
/build*
flash.bin

# configuration
/app/src/configuration/cbor/generated

# tests
/twister-out*

__pycache__/

# docs
/doc/_build*

# docker
/docker-compose.yml

# tools
/tools

#libs
/app/libs/boost

# boost
project-config.jam
b2
