/ {
	aliases {
		intfs0 = &intfs0;
	};

	fstab {
		compatible = "zephyr,fstab";
		intfs0: intfs0 {
			compatible = "zephyr,fstab,fatfs";
			disk-access;
			mount-point = "/intfs0:";
			automount;
		};
	};

	msc_disk0 {
		status = "okay";
		compatible = "zephyr,flash-disk";
		partition = <&intfs0_partition>;
		disk-name = "intfs0";
		cache-size = <4096>;
	};
};

// HEX Flash dump can be found in the duild/flash.bin file
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		intfs0_partition: partition@0 {
			label = "intfs0_storage";
			reg = <0x00000000 DT_SIZE_M(1)>;  // 0x00000000 offset, 1MB size
		};
	};
};
