menu "Lua Zephyr"

config LUA
    bool "Lua support"
    help
      Enable Lua support. This is required for the Lua scripting engine.
      If you enable this option, you will be able to use Lua scripts.

module = LUA_ZEPHYR
module-str = lua_zephyr
source "subsys/logging/Kconfig.template.log_config"
endmenu
