# Copyright (c) 2025 Pavel Maloletkov
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32S3_PM_HW_02
	select SOC_ESP32S3_WROOM_N8
	select SOC_ESP32S3_PROCPU if BOARD_ESP32S3_PM_HW_02_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ESP32S3_PM_HW_02_ESP32S3_APPCPU
