#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		intfs0 = &intfs0;
        adc0 = &adc_emul;
		sdhc0 = &sdhc_disk;
		gpioc = &gpioc;
		can0 = &can_loopback0;
	};

	fstab {
		compatible = "zephyr,fstab";
		intfs0: intfs0 {
			compatible = "zephyr,fstab,littlefs";
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
			partition = <&intfs0_partition>;
			mount-point = "/intfs0";
			automount;
		};
	};

	sdhc_disk: storage_disk {
		compatible = "zephyr,flash-disk";
		partition = <&sdhc_partition>;
		disk-name = "SD";
		cache-size = <4096>;
	};

	gpioc: gpioc {
		compatible = "gpio-keys";

		di_0: di_0 {
			gpios = < &gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};

		di_1: di_1 {
			gpios = < &gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};

		di_2: di_2 {
			gpios = < &gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};

		di_3: di_3 {
			gpios = < &gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};

		di_4: di_4 {
			gpios = < &gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};

		di_5: di_5 {
			gpios = < &gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
		};
	};

	gpio0: gpio_emul {
		status = "okay";
		compatible = "zephyr,gpio-emul";
		rising-edge;
		falling-edge;
		high-level;
		low-level;
		gpio-controller;
		#gpio-cells = <2>;
	};

    adc0: adc_emul: adc {
		compatible = "zephyr,adc-emul";
		nchannels = < 0x4 >;
		#io-channel-cells = < 0x1 >;
		status = "okay";
		ref-internal-mv = < 0xce4 >;
		ref-external1-mv = < 0x1388 >;
		#address-cells = < 0x1 >;
		#size-cells = < 0x0 >;
		channel@0 {
			reg = < 0x0 >;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,vref-mv = < 0xce4 >;
			zephyr,acquisition-time = < 0x0 >;
			zephyr,resolution = < 0xc >;
		};
		channel@1 {
			reg = < 0x1 >;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,vref-mv = < 0xce4 >;
			zephyr,acquisition-time = < 0x0 >;
			zephyr,resolution = < 0xc >;
		};
		channel@2 {
			reg = < 0x2 >;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,vref-mv = < 0xce4 >;
			zephyr,acquisition-time = < 0x0 >;
			zephyr,resolution = < 0xc >;
		};
		channel@3 {
			reg = < 0x3 >;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,vref-mv = < 0xce4 >;
			zephyr,acquisition-time = < 0x0 >;
			zephyr,resolution = < 0xc >;
		};
	};

	can_loopback0: can_loopback0 {
		status = "okay";
		compatible = "zephyr,can-loopback";
	};
};

&flash_sim0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		intfs0_partition: partition@1000 {
			label = "intfs0_storage";
			reg = <0x00001000 DT_SIZE_M(1)>;  // 0x00001000 offset, 1MB size
			phandle = <0x3>;
		};

		sdhc_partition: partition@101000 {
			label = "sdhc_storage";
			reg = <0x00101000 DT_SIZE_M(10)>;  // 0x00101000 offset, 10MB size
			phandle = <0x4>;
		};
	};
};
