/ {
    aliases {
        gpio38 = &gpio_38;
        gpioc = &gpio0;
    };
    
    gpio_pins: gpio_pins {
        compatible = "gpio-leds";

        gpio_38: gpio_38 {
            gpios = <&gpio0 6 0>;
        };
    };

    gpio10: gpio10_example {
		compatible = "zephyr,gpio-emul";
		#gpio-cells = <0x2>;
		status = "okay";
		gpio-controller;
	};
};
